* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

html, body, #root {
  height: 100%;
}

.header, .footer {
  background-color: rgb(196, 5, 5);
  height: 100px;
}